* {
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 1500px;
  background-color: rgba(0,0,0,0.1);
  /*background-image: url("college.jpg");
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: color-burn;
  background-size: cover;*/
}
h1{
  font-family: 'Bangers';
  font-size: 70px;
  display: inline;
  color: #ba4dec;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px 4px #000000;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: #ba4dec;
  text-decoration: none;
}
button{
  background-color: purple
}
.main-h1{
  font-size: 90px;
  color: #291033;
}
.main-heading-div{
  text-align: center;
  width: 40%;
  margin-top: 70px;
}
main p{
  font-size: 20px;
}
.container{
  height: 1000px;
  width: 80%;
  background-color: rgba(255,255,255,0.6);
  margin-top: 10px;
}
.college-searches {
  display: inline;
  margin: 10px;
}
.top-fixed-nav{
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 2px;
}
.top-fixed-nav ul{
  list-style-type: none;
  text-align: right;
  margin-left: 5px;
}
.top-fixed-nav ul li{
  display: inline;
  padding: 4px;
  margin-left: 20px;
  font-size: 36px;
}
.fa-university{
  margin-right: -10px;
  color: white;
}
.fa-university:hover{
  color: rgba(0,0,0,0.8);
}
.top-fixed-nav ul li a{
  color: #4ddaff;
}
.top-fixed-nav ul li a:hover{
  color: black;
}
.second-nav{
  width: 100%;
  margin-top: 30px;
  font-family: "Graduate";
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.second-nav ul{
  list-style-type: none;
  text-align: right;
  margin-left: 30px;
}
.second-nav ul li{
  display: inline;
  padding: 4px;
  margin-left: 40px;
}
.state-search{
  padding-top: 20px;
}
.state-search button{
  font-size: 20px;
}
.collegeSearch{
  width: 400px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.college-search-results{
  display: block;
  text-align: center;
  font-size: 30px;
}
input{
  display: inline;
  font-size: 20px;
  font-weight: bolder;
}
form{
  width: 650px;
}
.submit{
  width: 20%;
  margin-left: 10px;
}
.caret{
  margin-top: 10px;
}
